.main {
    padding: 7% 0%;
    align-items    : center;
    display        : flex;
    flex-direction : column;
    justify-content: center;
}

.container {
    background-color: #14285C;
    padding         : 10px;
    box-shadow      : 0 0 1em black;
}