.content {
    padding-top: 20%;
    padding-bottom: 20%;
    align-items    : center;
    display        : flex;
    justify-content: center;
}

.content p {
    color    : #ffffff;
    font-size: 20px;
}